.container {
  padding: 60px 0;
}

.container > .row {
}

.container > .row-short {
}

.container .left {
}
.container .right {
}

@media (max-width: 460px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container > .row,
  .container > .row-short {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .container > .row,
  .container > .row-short {
    width: 400px;
    margin: 0 calc(50% - 200px);
  }

  .container > .row {
    display: inline-block;
    width: 800px;
    margin: 0 calc(50% - 400px);
  }

  .container > .row-short {
    display: inline-block;
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}

@media (max-width: 900px) {
  .container > .row {
  }
}
