.container {
  display: inline-block;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container > .row {
  float: left;
  width: 800px;
  margin: 0 calc(50% - 400px);
}

.container > .row-short {
  float: left;
  width: 600px;
  margin: 0 calc(50% - 300px);
}

.container .left {
  float: left;
  width: 50%;
}
.container .right {
  float: right;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 60px;
}

@media (max-width: 900px) {
  .container > .row {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}

@media (max-width: 700px) {
  .container > .row,
  .container > .row-short {
    width: 400px;
    margin: 0 calc(50% - 200px);
  }

  .container > .row {
    display: inline-block;
    width: 800px;
    margin: 0 calc(50% - 400px);
  }

  .container > .row-short {
    display: inline-block;
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}

@media (max-width: 460px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container > .row,
  .container > .row-short {
    width: 100%;
    margin-left: 0;
  }
}
