.clock {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.clock > .time {
  float: left;
  width: 25%;
  margin: 15px 0;
  text-align: center;
}

.clock > .time > .value {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
}

.clock > .time > .title {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .clock > .time {
    width: 50%;
  }
}
