.clock {
  display: flex;
  flex: wrap;
  color: #fff;
  gap: 40px 0;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.clock > .time {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.clock > .time > .value {
  font-size: 50px;
  font-weight: bold;
}

.clock > .time > .title {
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .clock > .time {
    min-width: 50%;
  }
}
