.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form > label {
  display: none;
}

.form > .input {
  padding: 0.3em 0;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  line-height: 1.5em;
  border-radius: 5px;
}

.form > textarea {
  resize: vertical;
}

.form *:focus {
  outline: 1px solid var(--secondary-color);
}
